<td>{{contact.id}}</td>
<td class="data">
  {{#if isEditing}}
    {{view App.EditContactView}}
  {{else}}
    {{contact.fullName}}
  {{/if}}
  <div class="commands">
    {{#unless isEditing}}
      {{#view Ember.Link action="showEdit"}}Edit{{/view}}
      {{#view Ember.Link action="destroyRecord"}}Remove{{/view}}
    {{/unless}}
  </div>
</td>
